<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h5>Unity</h5>
        </div>
        
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <h4 id = "datetime"></h4>
        </div>
    </div>
    
    <br>
    <div class="container">
        <div class="row">
            <div class=" col-sm ">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="border border-dark card-body">
                    <p class="card-text">Email list</p>
                    <h5 class="card-title">{{total_emails}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card bg-light" style="width: 18rem; ">
                    <div class="border border-dark card-body">
                    <p class="card-text">New this month</p>
                    <h5 class="card-title">{{email_this_month}}</h5>
                    </div>
                </div>
            </div><div class="col-sm">
                <div class="card bg-light" style="width: 18rem;">
                    <div class="border border-dark card-body">
                    <p class="card-text">Unsubscribed</p>
                    <h5 class="card-title">{{number_unsubscribed|length}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    <div class="container">
        <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th scope="col">EmailID</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                {% for email in page_obj.object_list %}
                    <tr>
                        <td>{{email.name}}</td>
                        <td>{{email.date|timesince}} ago</td>
                        {% if email.status %}
                        <td>Subscribed</td>
                        {% else %}
                        <td>Unsubscribed</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
          </table>
      </div>
      {% include "unity/paginator.html"%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>